* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA
  }
  
  .topo{
    background-color: #FFFFFF;
    height: 54px;
    width: 100%;
    left: 0px;
    top: 0px;
   border: 1px solid #DBDBDB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
  }

  .containerTopo{
    width: 100%;
    max-width: 935px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .topo ion-icon{
    width: 23.5px;
    height: 23.5px;
   }
  
  .topo input{
    height: 28px;
    width: 215px;
    left: 575px;
    top: 13px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    transition: all 0.5 ease-in-out;
  }
  
  .topo input::placeholder{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .topoEsquerda{
    width: 155px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .topoDireita{
    display: flex;
    justify-content: space-between;
    width: 140px;
  }
  
  .container{
    display: flex;
    justify-content: center;
    margin-top: 88px;
    position: relative;
  
  }
  .containerEsquerda{
    max-width: 614px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }
  
  .containerStory{
    height: 118px;
     max-width: 614px;;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    overflow: scroll hidden ;
  
  }
  
  .story {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .story .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
    background-image: url('./arquivosulteis/img/story-circle.svg')
  }
  
  .story .imagem img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  .story h3 {
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 14px;
    margin-top: 6px
  }
  
  .postFeed{
    height: 760px;
    width: 100%;
    border-radius: 3px;
    margin-top: 24px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
  }
  
  .topoPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 17px;
    margin-right: 17px;
    
  }
  
  .topoPost img:nth-child(1){
    width: 32px;
    margin-top: 15px;
  }
  
  .topoPost h3{
    margin-left: 15px;
    margin-top: 15px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  
  .topoPost img:nth-child(2){
    margin-top: 15px;
  }
  
  .usuario{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .imgPost {
    margin-top: 13px;
    width: 100%;
    
  }
  
  .interacaoPost{
    display: flex;
    justify-content: space-between;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 12px;
  }
  
  .intercaoPostEsquerda{
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .curtidasPost{
    display: flex;
    align-items: center;
    margin-top: 13px;
  }
  
  .curtidasPost img{
    width: 20px;
    height: 20px;
    margin-left: 17px;
   
  }
  .curtidasPost h3{
    margin-left: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  
  }
  
  span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .sideBar{
    margin-left: 30px;
    width: 300px;

  }
  
  .topoSideBar{
    height: 118px;
    display: flex;
    align-items: center;
  }
  .topoSideBar img{
    width: 56px;
    height: 56px;
  }
  
  .textoConta{
    margin-left: 17px;
  }
  
  .textoConta h3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .textoConta h4{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E8E;
  }
  
  .topoSugestoes{
    display: flex;
    justify-content: space-between;
  }
  
  .topoSugestoes h4{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E8E;
  }
  
  .topoSugestoes h3{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
  }
  
  .contasSusgetoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
  }
  
  .sugestao{
    display: flex;
  }
  
  .textSugestao{
    margin-left: 11px;
  }
  
  .textSugestao h3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  } 
  
  .textSugestao h4{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E8E;
  } 
  
  .contasSusgetoes > h3{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color: #139EF2;
  }
  
  .sideBar > h4 {
    margin-top: 33px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #C7C7C7;
  }
  
  .sideBar > h5{
    margin-top: 18px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #C7C7C7;
  }

  .logo-mobile, .instagram-mobile, .icones-mobile{
    display: none;
}


.intercaoPostEsquerda ion-icon{
  width: 23px;
  height: 23px;
}

.intercaoPostEsquerda .like{
  
}

.like{
  
}

.curtido{
  color: red;
}


.fundo-mobile{
  display: none;
}

ion-icon{
  visibility: visible;
}
  
  @media (max-width: 935px) {
    .sideBar {
      display: none;
    }
  
   .topo {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 614px) {
    .container {
      margin-top: 55px;
    }
  

  
    .topo{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .postFeed {
      border-radius: 0;
      border-left: none;
      border-right: none;
      width: 100%;
    }
  
    .postFeed:last-child {
      margin-bottom: 72px;
    }
  
    .story {
      background-color: transparent;
      border: none;
      width: 100%;
    }
  
    .post:first-child {
      margin-top: 0;
    }

    .topo .topoDireita, .topoEsquerda{
      display: none;
    }

    .topo input{
      display: none;
    }
  
    .topoDireita ion-icon{
      display: none;
    }

   
  
    .topo .icones-mobile {
      display: flex;
    }

    .instagram{
      display: inline;
    }

    .containerFeed{
      margin-top: -30px;
    }
  
    .fundo-mobile {
      display: flex;
      padding: 0 20px;
      justify-content: space-between;
      align-items: center;
      font-size: 24px;
      background-color: #FFF;
      border-top: 1px solid #DBDBDB;
      height: 54px;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
    }
  
    .topo .logo, .barra  {
      display: none;
    }
    
    .instagram {
      display: none;
    }
  
    .logo-mobile, .instagram-mobile {
      display: flex !important;
    }
  
    .instagram-mobile {
      position: relative;
      top: 4px;
    }
  }